
<header class="header">
    <div class="container">
        <span aligen:center>{{title}}</span>
    </div>
</header>
<h2 class="text-center">Employee List</h2>

<div class="container">
    <h6 style="color:rgb(117, 117, 172);margin-bottom:20px;margin-top: 10px;" routerLink="create-employee" routerLinkActive="active" >Create New</h6>
    
   <router-outlet></router-outlet>
</div>
<div>
<footer class="footer">
<div class="container">
    <span aligen:center>Golden Harvest Infotech Ltd.@2020</span>
</div>
</footer>
</div>

